body {
  background-color: #346c4c;
  font-family: Arial, sans-serif;
  color: #000000;
}

.container {
  text-align: left;
  width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #7c9c84;
  border-radius: 10px;
}

.result-container {
  text-align: left;
  margin: 20px auto;
  width: 400px;
  background-color: #e6f0ea;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.routefinder-heading {
  text-align: center;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.username {
  font-weight: bold;
  color: #233c2c;
}

.result {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #233c2c;
}

input:focus,
select:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 3px #4caf50;
}

.error {
  color: #590d0d;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-bottom: 10px;
}

label[for="togglePassword"] {
  font-size: 16px;
}
