<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routefinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logreg.css') }}">
  </head>
  <body>
    <div class="routefinder-heading">
      <h1>National Trust Route Finder</h1>
      <h2>Welcome, <span class="username">{{ username }}</span></h2>
    </div>
    <div class="container">
      <form action="{{ url_for('routefinder') }}" method="POST">
        <label for="postcode">Postcode</label>
        <input type="text" id="postcode" name="postcode" required><br><br>

        <label for="activity">Activity</label>
        <select id="activity" name="activity" required>
          <option disabled selected value></option>
          <option value="Dog walking">Dog walking</option>
          <option value="Running">Running</option>
          <option value="Walking">Walking</option>
          <option value="Geocaching">Geocaching</option>
          <option value="Cycling">Cycling</option>
          <option value="Horse riding">Horse riding</option>
          <option value="Canoeing and kayaking">Canoeing and kayaking</option>
          <option value="Climbing">Climbing</option>
          <option value="Orienteering">Orienteering</option>
          <option value="Caving">Caving</option>
          <option value="Surfing">Surfing</option>
          <option value="Swimming">Swimming</option>
          <option value="Coasteering">Coasteering</option>
          <option value="Sailing">Sailing</option>
          <option value="Fishing">Fishing</option>
          <option value="Archery">Archery</option>
          <option value="Boating">Boating</option>
        </select><br><br>

        <label for="radius">Radius (km)</label>
        <input type="number" id="radius" name="radius" min="1" required><br><br>

        <input type="hidden" id="username" name="username" value="{{ username }}">
        <input type="submit" value="Find Places">
      </form>
    </div>
    <br>
    <div class="result-container">
      <h2>Results:</h2>
      <span class="result">{{ result|safe }}</span>
    </div>
  </body>
</html>
